<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<p th:unless="${banks} and ${banks.size()}">no transactions!</p>

<div class="container body-content">
    <h2>Bank</h2>
    <ul>
        <li th:each="bank : ${banks}">
            <a th:href="@{'/banks/view/' + ${bank.id}}" th:text="${bank.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/banks/add'}">Add Bank</a>

</div>

</body>
</html>