<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table class="transaction-listing">
        <tr th:each="transaction : ${transactions}">
            <td>
                <p>
                    Transaction Id:
                    <a th:href="@{'/view/' + ${transaction.id}}" th:text="${transaction.id}"></a>
                </p>
                <p th:text="${'Name: ' + transaction.name}"></p>
                <p>
                    Client:
                    <a th:href="@{'/clients/view/' + ${transaction.client.id}}" th:text="${transaction.client.name}"></a>
                </p>
                <p>
                    Banks:
                    <ul th:each="bank : ${transaction.banks}">
                        <li>
                            <a th:href="@{'/banks/view/' + ${bank.id}}" th:text="${bank.name}"></a>
                        </li>
                    </ul>
                </p>
            </td>
        </tr>
    </table>

</div>

</body>
</html>